<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<title>List Departements</title>
</head>

<body>
	<div class="jumbotron text-center"style="margin-bottom:0" >
	<h1>Affichage des Lists Departements</h1>
	</div>
	
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
	
	<ul class="navbar-nav">
  		<li class="nav-item">
  		<a class="navbar-brand" th:href="@{/departement/listDepU}">Departement</a>
  		</li>
  		
       	<li class="nav-item">
       	<a class="navbar-brand" th:href="@{/celebrite/listCelU}">Celebrite</a>
		</li>
		
		<li class="nav-item">
       	<a class="navbar-brand" th:href="@{/Lieu/listLieuU}">Lieu</a>
		</li>
		
		<li class="nav-item">
       	<a class="navbar-brand" th:href="@{/Monument/listMonumentU}">Monument</a>
		</li>
		
		<li class="nav-item">
  			<a class="navbar-brand" th:href="@{/login}">Login</a>
  		</li>
  		
		<li class="nav-item">
    		<a class="navbar-brand" th:href="@{/inscription}">Sign up</a>
    	</li>
		</ul>
		</div>
		</nav>
		    <br>
		    <br>
		    <br>
		    <br>
	
	
	<table class="table">
		<thead>
		<tr height="70px">
			<th width="200px">Numero Departement</th>
			<th width="300px">Chef Lieu</th>
			<th width="300px">Nom Departement</th>
			<th width="300px">Region</th>
		</tr>
		</thead>
		<thead id="myTable">
		<tr height="40px", th:each = 'ld : ${ListLF}'>
			<td th:utext = '${ld.dep.dep}'></td>
			<td th:utext = '${ld.dep.chef_lieu}'></td>
			<td th:utext = '${ld.dep.nom_dep}'></td>
			<td th:utext = '${ld.dep.reg}'></td>
		</tr>
		</thead>
	</table>
	<br>
	<br>
	<br>

</body>
</html>