<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  
<title>Login</title>
</head>
<body>
<div class="jumbotron text-center" style="margin-bottom:0">
	<h1>Login</h1>
	</div>
	
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<!--<a class="navbar-brand" th:href="@{/login}">Login</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
 	 </button> 	-->
  	<div class="collapse navbar-collapse" id="collapsibleNavbar">
  	<ul class="navbar-nav">
  		<li class="nav-item">
  		<a class="navbar-brand" th:href="@{/departement/listDepU}">Departement</a>
  		</li>
       	<li class="nav-item">
       	<a class="navbar-brand" th:href="@{/celebrite/listCelU}">Celebrite</a>
		</li>
		<li class="nav-item">
       	<a class="navbar-brand" th:href="@{/Lieu/listLieuU}">Lieu</a>
		</li>
		
		<li class="nav-item">
       	<a class="navbar-brand" th:href="@{/Monument/listMonumentU}">Monument</a>
		</li>
		
  		<li class="nav-item">
  			<a class="navbar-brand" th:href="@{/login}">Login</a>
  		</li>
  		<li></li>
		<li class="nav-item">
    		<a class="navbar-brand" th:href="@{/inscription}">Sign up</a>
    	</li>
    	</ul>
    	</div>
	</nav>
	<br>
	<br>
	<br>
	<div class="container">
	<form th:action="@{/index}" th:object="${UF}" method="POST">
		<fieldset>
		
			<legend>Login de votre compte</legend>
			<br>
			<div class="form-group">
			Mail:<br>
			<input type="text" placeholder="Saisir votre mail" name="user" th:field="*{email}">
			</div>
			<br>
			<div class="form-group">
			Password:<br>
			<input type="password" placeholder="Saisir votre password"  name="user" th:field="*{MDP}">
			<br>
			</div>
			<Button type="submit" class="btn btn-secondary">Login</Button>
		</fieldset>
	</form>
	</div>
	<br/><br/>
	<div th:if="${error}" class="alert alert-danger" id="center">
        <strong>Erreur</strong> Mot de passe ou Utilisateur incorrectes !
        <br>
     <a th:href="@{/}"><button>Retour page d'accueil</button></a> 
     <!--  <a th:href="@{/inscription}"><button>Inscription</button></a>-->
    </div>
</body>
</html>